name: _
publish_to: none
environment:
  sdk: ^3.10.0
workspace:
  - packages/vality
  - packages/vality_flutter
dev_dependencies:
  melos: ^7.3.0

melos:
  ignore:
    - "packages/**/example/**"
  scripts:
    analyze_flutter:
      run: melos exec --scope=vality_flutter -- flutter analyze .
    test_flutter:
      run: melos exec --scope=vality_flutter -- flutter test --coverage

    analyze_dart:
      run: |
        melos exec --dir-exists="lib" -- flutter analyze
      description: Run `dart analyze` for all packages.

    test_dart:
      run: |
        melos exec --dir-exists="test" -- flutter test --coverage
      description: Run `dart test` for all packages.

    analyze:
      run: |
        melos run analyze_dart
        melos run analyze_flutter
      description: Run `dart analyze` for all packages.

    test:
      run: |
        melos run test_dart
        melos run test_flutter
      description: Run `dart test` for all packages.
